h1 {
	text-align: center;
	color: white;
	background: blue;
	border: 10px;
	border-style: solid;
	padding: 20px;

}

p {
	text-align: center;
	font-size: 25px;

}
#primeirop{
	color: black;
	
}

#segundop{
	color: red;
}

#terceirop{
	color: blue;
}